# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env
.github

# Media and static files
media/
staticfiles/
static/

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

django_assessment.txt